.generated-content > p {
    /* width: 50%; */
    border: 1px solid #e0a800;
    color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.generated-content:hover{
    transform: scale(1.01);
    
}

.details-position {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 30%;
    left: 15%;
    width: 70%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 4px solid #e0a800;
    border-radius: 5px;
}



body {
    background-color: black;
}

.generated-content-nav {
    /* border: 1px solid green; */
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.generated-content-nav > button {
    background-color: green;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    border: 1px solid green;
    
}
.generated-content-nav > button:hover {
    transform: scale(1.2);
}

.generated-content-nav > button > a {
    text-decoration: none;
    color: black;
}

.alerts {
    border: 1px solid #e0a800;
}